<div style="margin-bottom: 50px;">
    <h1>{{content.title}}</h1>
    <hr>
    <div>
        <div class="row">
            <p class="col-12" [innerHTML]="content.description"></p>
            <img *ngIf="content.photo_url" class="col-auto me-3" style="width: 400px;" src="{{content.photo_url}}">
        </div>
        <div class="div_margin" *ngFor="let item of content.subtopics">
            <h2>{{item.title}}</h2>
            <p *ngIf="item.description">{{item.description}}</p>
            <div class="container">
                <div class="row">
                    <div *ngFor="let url of item.urls" class="col-3" style="margin-bottom: 20px;">
                        <div class="image-container" style="position: relative; display: flex; flex-direction: column; align-items: center;">
                            <a *ngIf="url.urlflag" href="{{ url.urlcontent }}" target="_blank">{{ url.urldescription }}</a>
                            <img *ngIf="!url.urlflag" class="me-3" style="width: 100%;" src="{{ url.urlcontent }}">
                            <div *ngIf="!url.urlflag" class="image-text-container">
                                <p class="image-text">{{ url.urldescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="div_margin" *ngFor="let item of content.subtopics.urls">

            </div> -->
            <!-- <a *ngIf="item.url==true" href="{{item.description}}" target="_blank">{{item.description}}</a>
            <p *ngIf="!item.url">{{item.description}}</p> -->
        </div>
    </div>
</div>
