<div>
    <h1>{{content.title}}</h1>
    <hr>
    <div>
        <div class="row">
            <p class="col-12">{{content.description}}</p>
            <img *ngIf="content.photo_url" class="col-auto me-3" style="width: 400px;" src="{{content.photo_url}}">
        </div>
        <div class="div_margin" *ngFor="let item of content.subtopics">
            <h2>{{item.title}}</h2>
            <p *ngIf="item.description">{{item.description}}</p>
            <div class="div_margin" *ngFor="let url of item.urls">
                <a *ngIf="url.urlflag==true  " href="{{url.urlcontent}}" target="_blank">{{ url.urldescription }}</a>
            </div>
            <!-- <div class="div_margin" *ngFor="let item of content.subtopics.urls">

            </div> -->
            <!-- <a *ngIf="item.url==true" href="{{item.description}}" target="_blank">{{item.description}}</a>
            <p *ngIf="!item.url">{{item.description}}</p> -->
        </div>
    </div>
</div>
